# Output files
examples/*/unmasking-out/

# Cache and compiled files
*.pyc
__pycache__/

# Project files
.idea
*.iml
.project

# Archives
*.zip
*.xz
*.gz
*.bz2
*.tar

# OS files
.DS_Store
.directory
Thumbs.db
desktop.ini

# Temporary files
*~
*.tmp
*.swp
*.bkp
tmp.*