# Output files
out/
out_meta/

# Cache and compiled files
*.pyc
__pycache__/
venv/
dist/
*.egg-info/
build/

# Project files
.idea
*.iml
.project

# Archives
*.zip
*.xz
*.gz
*.bz2
*.tar

# OS files
.DS_Store
.directory
Thumbs.db
desktop.ini

# Temporary files
*~
*.tmp
*.swp
*.bkp
tmp.*
